*{
    margin:0px; padding:0px; box-sizing: border-box;
}
body {
    background-color: #efefef;
    color: black;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 600;
}

.loading { height:100vh; display: flex; align-items: center; justify-content: center; }

#containers {width: 80%; float: right;}
#item {width: 20%; float: left; padding: 10px 8px;}

.filter_year_text { font-weight: 400; text-align: center; }
.line { width: 90%; margin: 4px 5% 12px; height: 2px; background-color: #b9b4af; }

.filter_year_btn {display: contents; align-items: center; justify-content: space-around;}

.filter_button { max-width : 165px; margin: 0 auto; padding-bottom: 10px; }

.button { background-color: #c5e09b; margin: 6px; padding: 8px 15px; text-align: center; font-size: 18px; display: inline-block; text-decoration: none; border: none; border-radius: 8px; }
.button:hover, .button:focus, .button:active, .button.active { background-color: #7cba01 }
/* button { padding-left: 10px; } */

.container { display: flex; flex-wrap: wrap; justify-content: space-evenly; }

.item { position: relative; width: 23%; margin:1%; background-color: #ffffff; border-radius: 6px 6px 0px 0px;}

.item img { width: 92%; height: auto; border-radius: 6px 6px 0px 0px; background-color: #efefef; margin: 4%; padding: 4%; }

table { border-collapse: collapse; width: 92%; margin: 14px 4% 42px; font-size: 14px; }
.thead { font-size: 16px; color: rgb(70, 78, 160); }
tr { text-align: left; }
td { margin: 0px; padding: 10px 4px; }

.right { float: right; color: #464ea0; text-align: right; font-size: 14px; }


@media screen and (max-width: 1250px) {
    .right { max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
}
@media screen and (max-width: 1023px) {
    #containers {width: 100%;}
    #item { width: 100%; }
    .item { width: 48%; }
    .filter_button { max-width : 580px; }
    .thead { font-size: 18px; }
    .right { max-width: unset; }
}
@media screen and (max-width: 425px) {
    .item { width: 98%; }
    .filter_button { width : 165px; }
    table { font-size: 16px; }
}